<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Heartsome</title>
        <meta name="description" content="Watch clip from Play.it">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Keywords" content="web development portfolio tiffany chow app developer angular angular2">

        <link rel="stylesheet" href="<%= base %>/dist/stylesheets/all.min.css">
        <script src="<%= base %>/dist/scripts/all.min.js"></script>
        <script type="text/javascript">
            var basePath = "//<%= host %>";
            <%if (params.goodreads) { %>
                var goodreads = {
                    userName: "<%= params.goodreads_user_name %>",
                    userLink: decodeURIComponent("<%= params.goodreads_user_link %>")
                };
            <% } %>
            <%if (params.google_app_browser_api_key) { %>
                var googleApp = {
                    browserApiKey: "<%= params.google_app_browser_api_key %>"
                };
            <% } %>
        </script>
    </head>
    <body>
        <app>
            <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">App Loading...</span>
        </app>
    </body>
</html>